<div data-asin="B07DJCVWDT" data-encoded-offering="PkqkWeqUzNbU0HBEsDgwdfcj%2Bt7%2FMHj1DqBa2l7al0IAm1SE2R2tzL%2FppRmBb3OE9TxxKyiJQj6UUIr5mENLLIt2Gck5i%2B6JFj2DcMyUi0gSkTbE3I3k8kymHP9YB2wU" data-giftable="1" data-giftwrapped="0" data-isprimeasin="0" data-item-count="1" data-itemcategory="normal" data-itemid="C85b65043-1e7e-4094-804d-8315489b496d" data-itemislastpantryitem="0" data-itemtype="active" data-minquantity="1" data-outofstock="0" data-price="14999.00" data-quantity="1" id="sc-item-C85b65043-1e7e-4094-804d-8315489b496d" class="a-row sc-list-item sc-list-item-border sc-java-remote-feature">


<div class="sc-list-item-spinner" style="display:none;">
    <img src="https://m.media-amazon.com/images/G/31/ui/loadIndicators/loading-large._CB160682686_.gif">
</div>
<div class="sc-list-item-overwrap" style="display:none;"></div>
<div class="sc-list-item-removed-msg a-padding-medium" style="display:none;">
    <div data-action="delete" style="display:none;">
        <span class="a-size-base">
            <a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_title_1?smid=A14CZOWI0VEHLG&amp;psc=1">

            Honor 8X (Blue, 4GB RAM, 64GB Storage)

</a>
            was removed from Shopping Cart.

        </span>
    </div>
    <div data-action="save-for-later" style="display:none;">
        <span class="a-size-base">
            <a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_title_1?smid=A14CZOWI0VEHLG&amp;psc=1">

            Honor 8X (Blue, 4GB RAM, 64GB Storage)

</a>
            has been moved to Save For Later.

        </span>
    </div>

    <div data-action="move-to-cart" style="display:none;">
        <span class="a-size-base">
            <a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_title_1?smid=A14CZOWI0VEHLG&amp;psc=1">

            Honor 8X (Blue, 4GB RAM, 64GB Storage)

</a>
            has been moved to Shopping Cart.
        </span>
    </div>


        <div data-action="move-to-wishlist" style="display:none;">
            <span class="a-size-base">
                <a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_title_1?smid=A14CZOWI0VEHLG&amp;psc=1">

            Honor 8X (Blue, 4GB RAM, 64GB Storage)

</a>
                has been moved to <a class="wishlistlink" aria-hidden="true"></a>.
            </span>
        </div>

</div>


            <div class="sc-list-item-content">

                <div class="a-row a-spacing-base a-spacing-top-base">
                    <div class="a-column a-span8">
                        <div class="a-fixed-left-grid"><div class="a-fixed-left-grid-inner" style="padding-left:115px">
                            <div class="a-fixed-left-grid-col a-float-left a-col-left" style="width:115px;margin-left:-115px;float:left;">



<a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_image_1?smid=A14CZOWI0VEHLG&amp;psc=1">

        <img alt="Honor 8X (Blue, 4GB RAM, 64GB Storage)" src="https://images-na.ssl-images-amazon.com/images/I/813W4jjRuiL._AA100_.jpg" class="sc-product-image" height="100" width="100">

</a>

                            </div>
                            <div class="a-fixed-left-grid-col a-col-right" style="padding-left:0%;float:left;">












<ul class="a-unordered-list a-nostyle a-vertical a-spacing-mini">
    <li><span class="a-list-item">







































<a class="a-link-normal sc-product-link" href="/gp/product/B07DJCVWDT/ref=ox_sc_act_title_1?smid=A14CZOWI0VEHLG&amp;psc=1">

        <span class="a-size-medium sc-product-title a-text-bold">
            Honor 8X (Blue, 4GB RAM, 64GB Storage)
        </span>

</a>












    </span></li>























































































<li><span class="a-list-item">



            <span class="a-size-small a-color-success sc-product-availability">






                        In stock



            </span>



</span></li>








































































































<li><span class="a-list-item">












    <span class="a-size-small a-color-secondary sc-product-sss">

    </span>














</span></li>
























































    <p class="fba">
        <img alt="" src="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px._CB384100965_.png" height="18px" data-a-hires="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px-2x._CB368682358_.png">
    </p>










































    <li><span class="a-list-item">
        <span class="sc-invisible-when-no-js">


                    <div class="a-checkbox sc-gift-option a-align-top a-size-small a-spacing-top-micro"><label><input type="checkbox" name="" value=""><i class="a-icon a-icon-checkbox"></i><span class="a-label a-checkbox-label">








This will be a gift


    <span class="a-size-small">



        <a href="/gp/help/customer/display.html/ref=ord_cart_shr?pop-up=1&amp;nodeId=200507630" target="AmazonHelp" class="" onclick="return amz_js_PopWin('/gp/help/customer/display.html/ref=ord_cart_shr?pop-up=1&amp;nodeId=200507630','AmazonHelp','width=340,height=340,resizable=1,scrollbars=1,toolbar=1,status=1');"><span class="a-size-small">
                <span class="a-offscreen">
                    This is a gift
                </span>
                Learn more
            </span></a>
    </span>


                    </span></label></div>




        </span>
    </span></li>












































































</ul>































<div class="a-row sc-action-links">



            <span class="a-size-small sc-action-delete">
            <span class="a-declarative" data-action="sc-item-action" data-sc-item-action="{&quot;itemID&quot;:&quot;C85b65043-1e7e-4094-804d-8315489b496d&quot;,&quot;itemType&quot;:&quot;active&quot;,&quot;isWishListItem&quot;:0,&quot;action&quot;:&quot;delete&quot;,&quot;isFresh&quot;:0}">
                <input type="submit" name="submit.delete.C85b65043-1e7e-4094-804d-8315489b496d" value="Delete" aria-label="Delete Honor 8X (Blue, 4GB RAM, 64GB Storage)">
            </span>
        </span>





            <i class="a-icon a-icon-text-separator" role="img" aria-label="|"></i>

        <span class="a-size-small sc-action-save-for-later">
            <span class="a-declarative" data-action="sc-item-action" data-sc-item-action="{&quot;itemID&quot;:&quot;C85b65043-1e7e-4094-804d-8315489b496d&quot;,&quot;itemType&quot;:&quot;active&quot;,&quot;isWishListItem&quot;:0,&quot;action&quot;:&quot;save-for-later&quot;,&quot;isFresh&quot;:0}">
                <input type="submit" name="submit.save-for-later.C85b65043-1e7e-4094-804d-8315489b496d" value="Save for later" aria-label="Save for later Honor 8X (Blue, 4GB RAM, 64GB Storage)">
            </span>
        </span>
</div>
                            </div>
                        </div></div>
                    </div>
<div class="a-column a-span2 a-text-left">

    <p class="a-spacing-small">
                <span class="a-size-medium a-color-price sc-price sc-white-space-nowrap sc-product-price sc-price-sign a-text-bold">
                    <span class="currencyINR">&nbsp;&nbsp;</span>14,999.00
                </span>
    </p>
</div>
    <div class="a-column a-span2 a-text-right sc-action-links a-span-last">
        <div data-old-value="1" class="a-row a-spacing-base sc-action-quantity sc-action-quantity-right">
                    <div class="sc-invisible-when-no-js">

                            <span class="a-dropdown-container"><label class="a-native-dropdown"><span class="sc-offscreen-label" aria-label="Quantity"></span></label><select name="quantity" autocomplete="off" data-a-touch-header="Quantity" tabindex="-1" class="a-native-dropdown a-button-span8">


                                    <option value="1" data-a-css-class="quantity-option" selected="">
                                        1
                                    </option>

                                    <option value="2" data-a-css-class="quantity-option">
                                        2
                                    </option>

                                    <option value="3" data-a-css-class="quantity-option">
                                        3
                                    </option>

                                    <option value="4" data-a-css-class="quantity-option">
                                        4
                                    </option>

                                    <option value="5" data-a-css-class="quantity-option">
                                        5
                                    </option>

                                    <option value="6" data-a-css-class="quantity-option">
                                        6
                                    </option>

                                    <option value="7" data-a-css-class="quantity-option">
                                        7
                                    </option>

                                    <option value="8" data-a-css-class="quantity-option">
                                        8
                                    </option>

                                    <option value="9" data-a-css-class="quantity-option">
                                        9
                                    </option>

                                <option value="10" data-a-css-class="quantity-option quantity-option-10">
                                    10+
                                </option>
                            </select><span tabindex="-1" data-a-class="quantity" class="a-button a-button-dropdown a-button-small a-button-span8 quantity" id="a-autoid-0" style="min-width: 0%;"><span class="a-button-inner"><span class="a-button-text a-declarative" data-action="a-dropdown-button" role="button" tabindex="0" aria-hidden="true" id="a-autoid-0-announce"><span class="a-dropdown-label"><span class="sc-offscreen-label" aria-label="Quantity"></span></span><span class="a-dropdown-prompt">
                                        1
                                    </span></span><i class="a-icon a-icon-dropdown"></i></span></span></span>


                        <input type="text" maxlength="3" value="1" autocomplete="off" name="quantityBox" class="a-input-text a-span8 sc-quantity-textfield sc-hidden" aria-label="Quantity">

                        <div class="a-spacing-top-small">
                            <span class="a-button a-button-primary a-button-small sc-update-link aok-hidden a-span8" id="a-autoid-1"><span class="a-button-inner"><a href="javascript:void(0);" data-action="update" class="a-button-text" role="button" id="a-autoid-1-announce">
                                Update

                                <span class="aok-offscreen">Honor 8X (Blue, 4GB RAM, 64GB Storage)</span>
                            </a></span></span>
                        </div>
                    </div>
                    <noscript>
                        <div>
                            <div>
                                <input type="text" maxlength="3" value="1" name="quantity.C85b65043-1e7e-4094-804d-8315489b496d" class="a-input-text a-span8 a-spacing-mini">
                            </div>
                            <input
                                    type="submit"
                                    name="submit.update-quantity.C85b65043-1e7e-4094-804d-8315489b496d"
                                    value="Update" />
                        </div>
                    </noscript>
        </div>
    </div>


                </div>
            </div>
        </div>
